<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>562021099243-3s9qdum58kq6oqig02tfv7fdf3af427u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.562021099243-3s9qdum58kq6oqig02tfv7fdf3af427u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>562021099243-n3nh2aoau67pv6cciarr94dtvpngjadp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAHAOG6fCT7zFf-MreGdmuDT0PKwbaFepg</string>
	<key>GCM_SENDER_ID</key>
	<string>562021099243</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebaseAuth</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-auth-9ae75</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-auth-9ae75.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:562021099243:ios:11701487d3bba2bc1080ae</string>
</dict>
</plist>